body {
	background: url(./images/homebg.png) no-repeat top center;
	font-family: 'Ubuntu', sans-serif;
}

.login {
	float: right;
	display: inline-block;
	width: 25%;
	margin: 10px 20px 0px 0px;
	padding: 10px;
	text-align: right;
}

.loginButton {
	width: 150px;
	background: #fc6a42;
	padding: 10px;
	text-align: right;
	border-radius: 5px;
	margin: 5px;
	color: white;
	text-decoration-line: none;
}

.signupButton {
	width: 150px;
	background: #4466c9;
	padding: 10px;
	text-align: right;
	border-radius: 5px;
	margin: 5px;
	color: white;
	text-decoration-line: none;
}

a {
	color: inherit;
	text-decoration: inherit;
}

h1 {
	font-size: 3.750rem;
	font-weight: 700;
	color: white;
	line-height: 4.5rem;
}

h2 {
	font-size: 2.750rem;
	font-weight:700;
	color: #fff !important;
}

h3 {
	font-size: 1.75rem;
	font-weight:700;
	color: #648cff;
}

h4 {
	font-size: 1.75rem;
	font-weight:700;
	color: #648cff;
}

h5 {
	color: #648cff;
}

.formButton {
	width: 150px;
	background: #4466c9;
	padding: 10px;
	border-radius: 5px;
	border: 0px;
	color: white;
	text-decoration-line: none;
	font-size: 1rem;
}

.formButton:hover {
    background-color: #fc6a42;
}

.formField {
	padding: 5px;
	margin: 2px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.showList {
	padding: 5px;
	background-color: white;
	color: black;
	margin: 10px 0 105px 0;
	border-radius: 10px;
}

aside {
	background: white;
	width: 100%;
	margin: 0px;
	padding: 20px;
	text-align: center;
}

footer {
	background: #353854;
	width: 100%;
	margin: 0px;
	padding: 10px;
	text-align: center;
	color: #b5b5c8;
	font-size: smaller;
}

.scrolldown{
  left: 48.5%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  line-height: 37px;
  background: #f4f5f9;
  border-radius: 50%;
  text-align: center;
}
.scrolldown a i{
    color:#e74c3c;
}

#middle {
	margin: 75px 0 75px 0;
}

#main {
	margin: 20px 0 10px 0;
}

#navButtons {
	margin-left: 5px;
	margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.750rem;
        font-weight: 400;
        line-height: 2.5rem;
    }
    #frontImage {
    	height: 350px;
    }
}